# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/

# Build
build/*
!build/rastermint.spec
!build/hooks/
build/hooks/*
!build/hooks/hook-PySide6.QtQml.py
build-temp/
dist/
release/
*.spec.bak

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local presets / output
*.json.local
